$skeleton: linear-gradient(
  90deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0.2) 50%,
  rgba(255, 255, 255, 0) 100%
);

$primary: #ff6f61;
$secondary: #ffd54f;
$accent: #00b0ff;
$text: #333333;
$button: #76c7c0;
